.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: rgba(59, 130, 246, 1);
  color: white;
  font-weight: 600;
}

.btn:hover {
  background-color: rgba(37, 99, 235, 1);
}

.btn:focus {
  outline: none;
}

.loader {
  margin: 4rem auto;
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  border-top: 6px solid rgb(124, 132, 150);
  border-bottom: 6px solid rgb(124, 132, 150);
  animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  width: 100%;
  border-radius: 0.375rem;
  overflow: hidden;
  background-color: rgba(229, 231, 235, 1);
  cursor: pointer;
}
.card > * {
  pointer-events: none;
}

.card-img {
  height: 10rem;
  width: auto;
  margin: 0 auto;
}

.card-content {
  padding: 0.75rem 1.25rem;
}

.card-title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(55, 65, 81, 1);
}
.card-text {
  margin-top: 0.5rem;
  color: rgba(107, 114, 128, 1);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: rgb(17, 24, 39);
}

.modal-img {
  width: 100%;
  max-height: 250px;
  padding: 1rem;
  object-fit: contain;
  /* background-color: #378d3d; */
}

.progress {
  overflow: hidden;
  width: 100%;
  border-radius: 1rem;
  background-color: #d8dadf; /*#e5e7eb;*/
}

.progress-done {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 0.7rem;
  border-radius: 1rem;
  text-align: right;
  color: white;
  font-size: 0.75rem;
}

.hide {
  display: none;
}

.not-collected {
  cursor: auto;
}
.not-collected > img {
  filter: contrast(0%) brightness(0);
}
.not-collected > .card-content {
  display: none;
}

.pokemon-type {
  display: inline-block;
  width: 125px;
  padding: 0.15rem 1rem;
  /* margin-right: 0.2rem; */
  margin: 0.2rem 0.3rem;
  border-radius: 1rem;
  background-color: #929a9c; /* #a4acaf */
  text-transform: uppercase;
  font-size: 0.9rem;
  color: white;
}

.bug {
  background-color: #729f3f;
}
.dark {
  background-color: #707070;
}
.dragon {
  background-color: #f16e57;
}
.electric {
  background-color: #eed535;
}
.fairy {
  background-color: #fdb9e9;
}
.fighting {
  background-color: #d56723;
}
.fire {
  background-color: #d33232;
}
.flying {
  background-color: #83b5be;
}
.ghost {
  background-color: #7b62a3;
}
.grass {
  background-color: #99ca4e; /*#9bcc50;*/
}
.ground {
  background-color: #947d53;
}
.ice {
  background-color: #51c4e7;
}
.poison {
  background-color: #b17cc0; /*#b97fc9;*/
}
.psychic {
  background-color: #f366b9;
}
.rock {
  background-color: #a38c21;
}
.steel {
  background-color: #9eb7b8;
}
.water {
  background-color: #4592c4;
}

.hp {
  background-color: #ef4444;
}
.atk {
  background-color: #fea726;
}
.def {
  background-color: #3b82f6;
}
.spd {
  background-color: #8eb0c4;
}
.exp {
  background-color: #378d3d;
}
