.hero {
  min-height: 70vh;
  background: url(../img/pokemon-hero.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.not-collected {
  filter: contrast(0%) brightness(0);
}
